.home {
    .button {
        margin-top: 0;
        margin-bottom: 9px;
        .title {
            font-size: 25px;
            line-height: 27px;
            text-transform: capitalize;
            margin-top: 12px;
        }
        .description {
            line-height: 29px;
        }
    }
}