.home {
    .button {
        .title {
            font-size: 25px;
            line-height: 33px;
            text-transform: capitalize;
            margin-top: 25px;
        }
        .description {
            line-height: 40px;
        }
    }
}