@import "CSS:../bower_components/ionic/release/css/ionic";

.popup-container .popup {
    border-radius: 10px;
    .popup-header {
        border-bottom: solid 1px #ccc;
    }
}
body {
}
.scroll {
    max-width: 490px;
    margin: 0 auto;
}
@import "_home.scss";
@import "_checkPoint.scss";