<?xml version='1.0' encoding='utf-8'?>
<widget id="bb.game.bongard" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bongard</name>
    <description>
        Try to find patterns in the given images to increase iq.
    </description>
    <author email="zbin@appnnie.com, lovanwubing@gmail.com" href="http://cordova.io">
        BinBing team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="res/icon/ios/icon.png" />

    <platform name="ios">
        <splash src="res/screen/ios/Default~iphone.png" width="320" height="480" />
        <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960" />
        <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136" />
    </platform>
</widget>
