<?xml version='1.0' encoding='utf-8'?>
<widget id="bb.game.bongard" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bongard</name>
    <description>
        Try to find patterns in the given images to increase iq.
    </description>
    <author email="zbin@appnnie.com, lovanwubing@gmail.com" href="http://cordova.io">
        BinBing team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <icon src="res/icon/android/36.png" density="ldpi" />
        <icon src="res/icon/android/48.png" density="mdpi" />
        <icon src="res/icon/android/72.png" density="hdpi" />
        <icon src="res/icon/android/96.png" density="xhdpi" />
        <icon src="res/icon/android/144.png" density="xxhdpi" />
        <icon src="res/icon/android/192.png" density="xxxhdpi" />
        <icon src="res/icon/android/artwork.png" density="web" />
    </platform>
    <platform name="ios">
        <!-- iPhone / iPod Touch -->
        <icon src="res/icon/ios/icon.png" width="57" height="57" />
        <icon src="res/icon/ios/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
    </platform>
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="BackgroundColor" value="0xffffffff"/>
    <preference name="SplashScreenDelay" value="10000" />

    <platform name="ios">
        <splash src="res/screen/ios/Default~iphone.png" width="320" height="480" />
        <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960" />
        <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136" />
    </platform>
    <platform name="android">
        <splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
        <splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
        <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
        <splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>

        <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
        <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
        <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
        <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
    </platform>
</widget>
