<ion-view title="Bongard">
    <ion-content ng-controller="CheckPointCtrl" class="padding check-point">
        <ion-nav-buttons side="right">
            <button class="button" onclick="window.plugins.socialsharing.share('This is a really interesting game to help you improve your IQ!', 'Bongard', 'http://bongard.juhuishijian.com/logo.jpg', 'http://bongard.juhuishijian.com')">Share</button>
        </ion-nav-buttons>
        <div ng-show="currentCheckPointLevel === checkPointLevelsCount">
            You already passed all of the check points!
            <div class="achieved">
                <a ui-sref="tabs.archieved({type: checkPointType})" class="button button-small button-block button-stable">See what you have achieved</a>
            </div>
        </div>
        <div ng-show="currentCheckPointLevel < checkPointLevelsCount">
            <div class="info">
                <div>
                    Author: <strong class="author">{{author}}</strong>
                </div>
                <div>
                    Level: <strong class="current-level">{{currentCheckPointLevel + 1}}</strong> / Total: <strong class="total-level">{{checkPointLevelsCount}}</strong>
                </div>
                <div class="left-chances" ng-class="{'text-safe': leftChances === 3, 'text-warning': leftChances === 2, 'text-danger': leftChances === 1}">
                    You have <storng>{{leftChances}}</strong> chances left to continue.
                </div>
            </div>
            <div class="images-container" bg-images-container="images">
                <button class="button" ng-repeat="image in images" ng-click="(isClickable() || image.selected) && (image.selected = !image.selected)" ng-class="{selected: image.selected}">
                    <img ng-src="{{image.url}}" />
                </button>
            </div>
            <div class="actions">
                <button class="button button-positive button-tooltip" ng-click="showToolTip()">Tooltip</button>
                <button class="button button-energized button-confirm" ng-class="{disabled: !canConfirm()}" ng-click="confirm()">Confirm</button>
            </div>
            <div class="achieved">
                <a ui-sref="tabs.archieved({type: checkPointType})" class="button button-small button-block button-stable">See what you have achieved</a>
            </div>
        </div>
    </ion-content>
</ion-view>
