<ion-view title="Bongard - Select 3 of them" class="check-point">
    <ion-content ng-controller="CheckPointCtrl" class="padding">
        <div ng-show="currentCheckPointLevel === checkPointLevelsCount">
            You already passed all of the check points!
        </div>
        <div ng-show="currentCheckPointLevel < checkPointLevelsCount">
            <div class="clearfix">
                <div class="pull-right">
                    <button type="button" class="btn btn-success" ng-click="showToolTip()">Tooltip</button>
                </div>
                <div>
                    <div class="text-primary">
                        Author: <strong class="author">{{author}}</strong>, Level: <strong class="current-level">{{currentCheckPointLevel + 1}}</strong> / Total: <strong class="total-level">{{checkPointLevelsCount}}</strong>
                    </div>
                    <div ng-class="{'text-success': leftChances === 3, 'text-warning': leftChances === 2, 'text-danger': leftChances === 1}">
                        You have {{leftChances}} chances left to continue.
                    </div>
                </div>
            </div>
            <div class="images-container">
                <button class="button" ng-repeat="image in images" ng-click="(isClickable() || image.selected) && (image.selected = !image.selected)" ng-class="{selected: image.selected}">
                    <img ng-src="{{image.url}}" />
                </button>
            </div>
            <div class="footer">
                <button type="button" class="btn btn-primary pull-right" ng-class="{disabled: !canConfirm()}" ng-click="confirm()">Confirm</button>
            </div>
        </div>
    </ion-content>
</ion-view>