<div ng-controller="CheckPointCtrl" class="check-point">
    <a ui-sref="home" class="btn btn-info">Home</a>
    <div ng-show="currentCheckPointLevel === checkPointLevelsCount">
        You already passed all of the check points!
    </div>
    <div ng-show="currentCheckPointLevel < checkPointLevelsCount">
        <div class="text-info">Current Level: {{currentCheckPointLevel + 1}}, Total Level: {{checkPointLevelsCount}}</div>
        <div class="text-primary">Author: {{author}}</div>
        <ul class="images-container list-inline">
            <li ng-repeat="image in images" ng-click="image.selected = !image.selected" ng-class="{selected: image.selected}">
                <img ng-src="{{image.url}}" />
            </li>
        </ul>
        <div class="footer">
            <button type="button" class="btn btn-primary pull-right" ng-class="{disabled: !canConfirm()}" ng-click="confirm()">Confirm</button>
        </div>
    </div>
</div>